[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
x509_extensions = v3_ca
prompt = no

[req_distinguished_name]
C = IR
ST = Tehran
L = Tehran
O = Feij
OU = Development
CN = Feij
emailAddress = feij@gmail.com

[v3_req]
subjectAltName = @alt_names

[v3_ca]
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.0.2.2
